{% extends "template.html.twig" %} {% block title %} Users {% endblock title %}
{% block body %} {% block pagetitle %} Users {% endblock pagetitle %} {% include
"Fragments/date.html.twig" %}
<table class="table">
  <tr class="table-active">
    <td>FirstName</td>
    <td>LastName</td>
    <td>Age</td>
  </tr>
  {% for user in users %}
  <tr
    class="table-{% if loop.index is odd %}danger{% else %}warning{% endif %}"
  >
    <td>{{ user.firstname }}</td>
    <td>{{ user.lastname }}</td>
    <td>{{ user.age }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock body %}
