{% extends "template.html.twig" %} {% block title %} Todo {% endblock title %}
{% block body %}
<ul class="list-group list-group-flush">
  {% block pagetitle %} Liste des todos {% endblock pagetitle %} {% for
  name,content in app.session.get('todos') %}
  <li class="list-group-item">{{ name }} : {{ content }}</li>
  {% endfor %}
</ul>
{% endblock body %}
